<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./homepage.css" />
    <link
      rel="shortcut icon"
      href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAAAAABWESUoAAAA00lEQVR4AeTPKwzCMBCA4dMI7BQSOYsPCQm2Fp/MN5nF4tCzyHmmSP0SfFI1VV1V/5PLIIGbV5y5R7+mPfmb2LTet0c7dTqdywNAb0EAWIvGHnK8WNDF8gXumg+fh05toyfjL6gSQFpJA8B1AR7wnOAmULoMWwsSWSoIO+18Ss4AjbqHsAYGp60FQwEI836lWYCoFxWIj7D8QwWT1ApOTjYRzgZsIYuH4KCTC7QGCFCAUYtQYGXBGWgKUby67MQAzfKOel/bNV/DGVkEo5tgghkxAACxEexpZuGiRwAAAABJRU5ErkJggg=="
      type="image/x-icon"
    />
    <title>Homepage</title>
  </head>
  <body>
    <header>
      <h1>[ as ]</h1>
      <img
        src="https://static-00.iconduck.com/assets.00/search-icon-512x512-82do5yb3.png"
        loading="lazy"
        class="icon"
        alt="search icon"
        title="search icon"
        data-alternate="https://d1rs1tqcxzgl1z.cloudfront.net/iconduck/image/upload/w_614,h_614,c_fit/f_png/e_colorize:0,co_rgb:000000/w_644,h_644,c_lpad/e_trim:1/w_512,h_512,c_fit/s3.prod/assets.00/asstk2joia8b"
      />
    </header>
    <div class="container"></div>
  </body>
  <div id="pages"></div>

  <div class="input-container">
    <input
      type="text"
      name="char"
      id="char"
      placeholder="Search..."
      autocomplete="off"
    />
  </div>

  <script src="./homepage.js"></script>
</html>
